@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Rubik+Bubbles&display=swap');

body {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-color: black;
}

.title {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.count {
    background-color: black;
    color: white;
    margin-top: 40px; 
    text-align: center; 
    font-size: 35px;
    margin-top: 60px;
}

.main-study_time {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10%;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-study_timer {
    font-size: 100px;
}

.start-button, .reset-button {
    border: none;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    font-family: "Rubik Bubbles", system-ui;
    border: 2px solid black;
    border-radius: 20%;
}

.main-break_time {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10%;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.main-break_timer {
    font-size: 100px;
}

.blank {
    width: 25px;
    height: 25px;
}

